@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.navbar {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.navbar .site-title {
  font-size: 36px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  color: #333;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li a {
  font-size: 24px;
}

.navbar nav ul li:not(:last-child) {
  margin-right: 50px;
}

.navbar nav.toggled {
  top: 120px;
}

.navbar .menu-btn {
  display: none;
  width: 36px;
  height: 25px;
  position: relative;
  border: 0;
  background: none;
  cursor: pointer;
}

.navbar .menu-btn .top,
.navbar .menu-btn .middle,
.navbar .menu-btn .bottom {
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu-btn .top {
  top: 0;
}

.navbar .menu-btn .middle {
  top: 11px;
}

.navbar .menu-btn .bottom {
  top: 22px;
}

.navbar .menu-btn.toggled .top {
  top: 11px;
  -webkit-animation: hmbTopRotate 0.4s ease-in-out 0.3s forwards;
          animation: hmbTopRotate 0.4s ease-in-out 0.3s forwards;
}

.navbar .menu-btn.toggled .middle {
  opacity: 0;
}

.navbar .menu-btn.toggled .bottom {
  top: 11px;
  -webkit-animation: hmbBottomRotate 0.4s ease-in-out 0.3s forwards;
          animation: hmbBottomRotate 0.4s ease-in-out 0.3s forwards;
}

.section-home .box-1 {
  padding: 40px 20%;
}

.section-home .box-1 p {
  font-size: 18px;
  color: #2d9cdb;
  margin-bottom: 20px;
}

.section-home .box-1 h1 {
  width: 543px;
  font-size: 48px;
  color: #333;
  font-weight: 500;
}

.section-home .box-2 {
  height: 354px;
  margin: 0 40px;
  border-radius: 18px;
  background-image: url("../img/heroImage.jpg");
  background-size: cover;
  background-position: center;
}

.section-home .box-3 {
  padding: 40px 20%;
}

.section-home .box-3 h1 {
  width: 366px;
  font-size: 48px;
  color: #333;
  font-weight: 500;
  margin-bottom: 40px;
}

.section-home .box-3 p {
  width: 366px;
  font-size: 18px;
  color: #4f4f4f;
  margin-bottom: 40px;
}

.section-home .box-3 .input-group label {
  font-size: 14px;
  color: #828282;
  margin-bottom: 10px;
}

.section-home .box-3 .input-group div {
  width: 350px;
  height: 57px;
  padding: 4px 4px 4px 20px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.section-home .box-3 .input-group div input {
  border: 0;
  background: none;
  font-size: 18px;
}

.section-home .box-3 .input-group div button {
  width: 94px;
  height: 100%;
  font-size: 18px;
  border-radius: 12px;
  border: 0;
  background-color: #2d9cdb;
  color: #fff;
  cursor: pointer;
}

@-webkit-keyframes hmbTopRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes hmbTopRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes hmbBottomRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

@keyframes hmbBottomRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

@media (max-width: 768px) {
  .navbar nav {
    display: block;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .navbar nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #fff;
  }
  .navbar nav ul li:not(:last-child) {
    margin-right: 0px;
  }
  .navbar .menu-btn {
    display: block;
  }
}
