@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

.input-group label {
  font-size: 14px;
  color: #828282;
  margin-bottom: 10px;
}

.input-group div {
  width: 350px;
  height: 57px;
  padding: 4px 4px 4px 20px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.input-group div input {
  border: 0;
  background: none;
  font-size: 18px;
}

.input-group div button {
  width: 94px;
  height: 100%;
  font-size: 18px;
  border-radius: 12px;
  border: 0;
  background-color: #2d9cdb;
  color: #fff;
  cursor: pointer;
}

.navbar {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.navbar .site-title {
  font-size: 36px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  color: #333;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav ul li a {
  font-size: 24px;
}

.navbar nav ul li:not(:last-child) {
  margin-right: 50px;
}

.navbar nav.toggled {
  top: 120px;
}

.navbar .menu-btn {
  display: none;
  width: 18px;
  height: 12px;
  position: relative;
  border: 0;
  background: none;
  cursor: pointer;
}

.navbar .menu-btn .top,
.navbar .menu-btn .middle,
.navbar .menu-btn .bottom {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .menu-btn .top {
  top: 0;
}

.navbar .menu-btn .middle {
  top: 5px;
}

.navbar .menu-btn .bottom {
  top: 10px;
}

.navbar .menu-btn.toggled .top {
  top: 5px;
  -webkit-animation: hmbTopRotate 0.4s ease-in-out 0.3s forwards;
          animation: hmbTopRotate 0.4s ease-in-out 0.3s forwards;
}

.navbar .menu-btn.toggled .middle {
  opacity: 0;
}

.navbar .menu-btn.toggled .bottom {
  top: 5px;
  -webkit-animation: hmbBottomRotate 0.4s ease-in-out 0.3s forwards;
          animation: hmbBottomRotate 0.4s ease-in-out 0.3s forwards;
}

.section-home {
  margin-bottom: 100px;
}

.section-home .box-1 {
  padding: 40px 20%;
}

.section-home .box-1 p {
  font-size: 18px;
  color: #2d9cdb;
  margin-bottom: 20px;
}

.section-home .box-1 h1 {
  width: 543px;
  font-size: 48px;
  color: #333;
  font-weight: 500;
}

.section-home .box-2 {
  height: 354px;
  margin: 0 40px;
  border-radius: 18px;
  background-image: url("../img/heroImage.jpg");
  background-size: cover;
  background-position: center;
}

.section-home .box-3 {
  padding: 40px 20%;
}

.section-home .box-3 h1 {
  width: 366px;
  font-size: 48px;
  color: #333;
  font-weight: 500;
  margin-bottom: 40px;
}

.section-home .box-3 p {
  width: 366px;
  font-size: 18px;
  color: #4f4f4f;
  margin-bottom: 40px;
}

.section-services {
  margin-bottom: 100px;
  padding: 40px 10%;
}

.section-services h1 {
  width: 346px;
  font-size: 36px;
  color: #333;
  margin-bottom: 70px;
}

.section-services .card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services .card-container .card {
  width: 341px;
  height: 422px;
  padding: 46px 34px;
  border-radius: 24px;
}

.section-services .card-container .card .card-icon {
  width: 67px;
  height: 67px;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.section-services .card-container .card .card-icon i {
  color: #fff;
}

.section-services .card-container .card .card-icon.blue {
  background-color: #2d9cdb;
}

.section-services .card-container .card .card-icon.green {
  background-color: #27ae60;
}

.section-services .card-container .card .card-icon.red {
  background-color: #eb5757;
}

.section-services .card-container .card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 24px;
}

.section-services .card-container .card p {
  font-weight: 400;
  color: #4f4f4f;
  margin-bottom: 30px;
}

.section-services .card-container .card button {
  width: 116px;
  height: 42px;
  border: 0;
  border-radius: 12px;
  background-color: #e0e0e0;
  color: #828282;
  cursor: pointer;
}

.section-services .card-container .card:hover {
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-services .card-container .card:hover button {
  background-color: #2d9cdb;
  color: #fff;
}

.section-works {
  margin-bottom: 100px;
  padding: 40px 10%;
}

.section-works h1 {
  width: 448px;
  font-size: 36px;
  color: #333;
  margin-bottom: 70px;
}

.section-works .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.section-works .grid .card {
  width: 545px;
}

.section-works .grid .card .img {
  width: 100%;
  height: 545px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 20px;
}

.section-works .grid .card:nth-child(odd) {
  margin-top: 160px;
}

.section-works .grid .card:nth-child(1) > .img {
  background-image: url("../img/smarthome.jpg");
}

.section-works .grid .card:nth-child(2) > .img {
  background-image: url("../img/onboard.png");
}

.section-works .grid .card:nth-child(3) > .img {
  background-image: url("../img/booking.png");
}

.section-works .grid .card:nth-child(4) > .img {
  background-image: url("../img/juice-product.png");
}

.section-works .grid .card p {
  font-size: 14px;
  font-weight: 300;
  color: #828282;
}

.section-works .grid .card h3 {
  font-size: 24px;
  color: #333;
}

.section-works a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #2d9cdb;
}

.section-works a i {
  margin-left: 10px;
}

.section-clients {
  margin-bottom: 100px;
  padding: 40px 10%;
}

.section-clients .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  margin-bottom: 200px;
}

.section-clients .grid .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-clients .grid .info h3 {
  font-size: 18px;
  color: #eb5757;
  margin-bottom: 10px;
}

.section-clients .grid .info h1 {
  width: 280px;
  font-size: 36px;
  color: #333;
  margin-bottom: 15px;
}

.section-clients .grid .info p {
  width: 273px;
  color: #4f4f4f;
}

.section-clients .grid .img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-clients .grid .img .client-img {
  background-size: cover;
  background-position: center;
  border-radius: 18px;
}

.section-clients .grid .img .client-img:nth-child(1) {
  width: 300px;
  height: 300px;
  background-image: url("../img/person3.png");
  margin-top: 70px;
}

.section-clients .grid .img .client-img:nth-child(2) {
  width: 260px;
  height: 260px;
  background-image: url("../img/person1.png");
}

.section-clients .grid .img .client-img:nth-child(3) {
  width: 300px;
  height: 300px;
}

.section-clients .grid .img .client-img:nth-child(4) {
  width: 290px;
  height: 290px;
  background-image: url("../img/person2.png");
}

.section-clients .testimonial {
  width: 937px;
  font-size: 36px;
  color: #333;
  margin-bottom: 36px;
}

.section-clients .client-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-clients .client-card .img {
  width: 80px;
  height: 80px;
  border-radius: 18px;
  background-image: url("../img/person4.png");
  background-size: cover;
  background-position: center;
  margin-right: 30px;
}

.section-clients .client-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-clients .client-card .info h2 {
  color: #333;
}

footer {
  background-color: #100e1d;
  padding: 0 10%;
}

footer .footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
}

footer .footer-top .links li {
  margin-bottom: 20px;
}

footer .footer-top .links li a {
  color: #f2f2f2;
  font-size: 18px;
}

footer .footer-top .sm h1 {
  font-size: 36px;
  color: #f2f2f2;
  margin-bottom: 12px;
}

footer .footer-top .sm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .sm div a {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

footer .footer-top .sm div a:nth-child(1) {
  background-image: url("../img/instagram.svg");
}

footer .footer-top .sm div a:nth-child(2) {
  background-image: url("../img/linkedin.svg");
}

footer .footer-top .sm div a:nth-child(3) {
  background-image: url("../img/twitter.svg");
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 20px 0;
  color: #a9a9a9;
  font-size: 14px;
}

footer .footer-bottom a {
  font-size: 14px;
  text-decoration: none;
  color: #a9a9a9;
}

@-webkit-keyframes hmbTopRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes hmbTopRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes hmbBottomRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

@keyframes hmbBottomRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
}

@media (max-width: 768px) {
  .input-group label {
    font-size: 10px;
  }
  .input-group div {
    width: 100%;
    height: 47px;
  }
  .input-group div input {
    font-size: 14px;
  }
  .input-group div button {
    width: 71px;
    font-size: 14px;
  }
  .navbar {
    height: 60px;
    padding: 0 10px;
  }
  .navbar .site-title {
    font-size: 24px;
  }
  .navbar nav {
    display: block;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    -webkit-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out;
  }
  .navbar nav ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #fff;
  }
  .navbar nav ul li:not(:last-child) {
    margin-right: 0px;
  }
  .navbar nav.toggled {
    top: 60px;
  }
  .navbar .menu-btn {
    display: block;
  }
  .section-home {
    margin-bottom: 60px;
  }
  .section-home .box-1 {
    padding: 20px 30px;
  }
  .section-home .box-1 p {
    font-size: 12px;
    margin-bottom: 0;
  }
  .section-home .box-1 h1 {
    width: 272px;
    font-size: 24px;
  }
  .section-home .box-2 {
    height: 145px;
    margin: 0 10px;
  }
  .section-home .box-3 {
    padding: 20px 30px;
  }
  .section-home .box-3 h1 {
    width: 227px;
    font-size: 24px;
    margin-bottom: 30px;
  }
  .section-home .box-3 p {
    width: 275px;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .section-services {
    margin-bottom: 0px;
    padding: 20px 0;
  }
  .section-services h1 {
    padding: 0 10%;
    width: 100%;
    font-size: 24px;
    margin-bottom: 80px;
  }
  .section-services .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5%;
  }
  .section-services .card-container .card {
    width: 100%;
    padding: 20px 5%;
  }
  .section-works {
    margin-bottom: 80px;
    padding: 20px 10px;
  }
  .section-works h1 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 48px;
    padding: 0 calc(10% - 10px);
  }
  .section-works .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
  .section-works .grid .card {
    width: 100%;
    margin-bottom: 25px;
  }
  .section-works .grid .card .img {
    width: 100%;
    height: 360px;
    margin-bottom: 10px;
  }
  .section-works .grid .card:nth-child(odd) {
    margin-top: 0px;
  }
  .section-works .grid .card p {
    font-size: 12px;
  }
  .section-works .grid .card h3 {
    font-size: 18px;
  }
  .section-works a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0px;
  }
  .section-clients {
    margin-bottom: 80px;
    padding: 20px 10px;
  }
  .section-clients .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: 100px;
  }
  .section-clients .grid .info {
    margin-bottom: 20px;
  }
  .section-clients .grid .img .client-img:nth-child(1) {
    width: 150px;
    height: 150px;
  }
  .section-clients .grid .img .client-img:nth-child(2) {
    width: 140px;
    height: 140px;
  }
  .section-clients .grid .img .client-img:nth-child(3) {
    width: 150px;
    height: 150px;
  }
  .section-clients .grid .img .client-img:nth-child(4) {
    width: 155px;
    height: 155px;
  }
  .section-clients .testimonial {
    width: 100%;
    font-size: 24px;
    margin-bottom: 18px;
  }
  footer .footer-top {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 36px;
  }
  footer .footer-top .links,
  footer .footer-top .sm {
    margin-bottom: 50px;
  }
  footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0 20px 0;
    color: #a9a9a9;
    font-size: 14px;
  }
  footer .footer-bottom a {
    font-size: 14px;
    text-decoration: none;
    color: #a9a9a9;
  }
}
