@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap");

// Variables
$font-heebo: "Heebo", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-mont: "Montserrat", sans-serif;
$color-gray-1: #333;
$color-gray-2: #4f4f4f;
$color-gray-3: #828282;
$color-gray-4: #a9a9a9;
$color-gray-5: #e0e0e0;
$color-gray-6: #f2f2f2;
$color-blue: #2d9cdb;
$color-dark-blue: #100e1d;
$color-red: #eb5757;
$color-green: #27ae60;
$radius-1: 24px;
$radius-2: 18px;
$radius-3: 12px;
$box-shadow-hover: 0px 10px 30px rgba(51, 51, 51, 0.1);
$px-sm: 40px;
$px-sm-mb: 10px;
$px-lg: 20%;
$px-lg-mb: 30px;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-poppins;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

// Components
.input-group {
  label {
    font-size: 14px;
    color: $color-gray-3;
    margin-bottom: 10px;
  }

  div {
    width: 350px;
    height: 57px;
    padding: 4px 4px 4px 20px;
    border-radius: $radius-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-gray-6;

    input {
      border: 0;
      background: none;
      font-size: 18px;
    }

    button {
      width: 94px;
      height: 100%;
      font-size: 18px;
      border-radius: $radius-3;
      border: 0;
      background-color: $color-blue;
      color: #fff;
      cursor: pointer;
    }
  }
}

// Navbar
.navbar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $px-sm;

  .site-title {
    font-size: 36px;
    font-weight: 800;
    font-family: $font-heebo;
    color: $color-gray-1;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li a {
      font-size: 24px;
    }

    li:not(:last-child) {
      margin-right: 50px;
    }
  }

  nav.toggled {
    top: 120px;
  }

  .menu-btn {
    display: none;
    width: 18px;
    height: 12px;
    position: relative;
    border: 0;
    background: none;
    cursor: pointer;

    .top,
    .middle,
    .bottom {
      width: 100%;
      height: 2px;
      background-color: #000;
      position: absolute;
      left: 0;
      transition: 0.3s;
    }

    .top {
      top: 0;
    }

    .middle {
      top: 5px;
    }

    .bottom {
      top: 10px;
    }
  }

  .menu-btn.toggled {
    .top {
      top: 5px;
      animation: hmbTopRotate 0.4s ease-in-out 0.3s forwards;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      top: 5px;
      animation: hmbBottomRotate 0.4s ease-in-out 0.3s forwards;
    }
  }
}

// SECTION - HOME
.section-home {
  margin-bottom: 100px;

  .box-1 {
    padding: 40px $px-lg;

    p {
      font-size: 18px;
      color: $color-blue;
      margin-bottom: 20px;
    }

    h1 {
      width: 543px;
      font-size: 48px;
      color: $color-gray-1;
      font-weight: 500;
    }
  }

  .box-2 {
    height: 354px;
    margin: 0 $px-sm;
    border-radius: $radius-2;
    background-image: url("../img/heroImage.jpg");
    background-size: cover;
    background-position: center;
  }

  .box-3 {
    padding: 40px $px-lg;

    h1 {
      width: 366px;
      font-size: 48px;
      color: $color-gray-1;
      font-weight: 500;
      margin-bottom: 40px;
    }

    p {
      width: 366px;
      font-size: 18px;
      color: $color-gray-2;
      margin-bottom: 40px;
    }
  }
}

// SECTION - SERVICES
.section-services {
  margin-bottom: 100px;
  padding: 40px 10%;

  h1 {
    width: 346px;
    font-size: 36px;
    color: $color-gray-1;
    margin-bottom: 70px;
  }

  .card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .card {
      width: 341px;
      height: 422px;
      padding: 46px 34px;
      border-radius: $radius-1;

      .card-icon {
        width: 67px;
        height: 67px;
        border-radius: $radius-2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        i {
          color: #fff;
        }
      }

      .card-icon.blue {
        background-color: $color-blue;
      }
      .card-icon.green {
        background-color: $color-green;
      }
      .card-icon.red {
        background-color: $color-red;
      }

      h2 {
        font-size: 24px;
        font-weight: 700;
        color: $color-gray-1;
        margin-bottom: 24px;
      }

      p {
        font-weight: 400;
        color: $color-gray-2;
        margin-bottom: 30px;
      }

      button {
        width: 116px;
        height: 42px;
        border: 0;
        border-radius: $radius-3;
        background-color: $color-gray-5;
        color: $color-gray-3;
        cursor: pointer;
      }
    }

    .card:hover {
      box-shadow: $box-shadow-hover;
      transition: 0.3s;

      button {
        background-color: $color-blue;
        color: #fff;
      }
    }
  }
}

// SECTION - WORKS
.section-works {
  margin-bottom: 100px;
  padding: 40px 10%;

  h1 {
    width: 448px;
    font-size: 36px;
    color: $color-gray-1;
    margin-bottom: 70px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .card {
      width: 545px;

      .img {
        width: 100%;
        height: 545px;
        background-size: cover;
        background-position: center;
        border-radius: $radius-3;
        margin-bottom: 20px;
      }

      &:nth-child(odd) {
        margin-top: 160px;
      }

      &:nth-child(1) > .img {
        background-image: url("../img/smarthome.jpg");
      }
      &:nth-child(2) > .img {
        background-image: url("../img/onboard.png");
      }
      &:nth-child(3) > .img {
        background-image: url("../img/booking.png");
      }
      &:nth-child(4) > .img {
        background-image: url("../img/juice-product.png");
      }

      p {
        font-size: 14px;
        font-weight: 300;
        color: $color-gray-3;
      }

      h3 {
        font-size: 24px;
        color: $color-gray-1;
      }
    }
  }

  a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    color: $color-blue;

    i {
      margin-left: 10px;
    }
  }
}

// SECTION - CLIENTS
.section-clients {
  margin-bottom: 100px;
  padding: 40px 10%;

  .grid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 200px;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-size: 18px;
        color: $color-red;
        margin-bottom: 10px;
      }

      h1 {
        width: 280px;
        font-size: 36px;
        color: $color-gray-1;
        margin-bottom: 15px;
      }

      p {
        width: 273px;
        color: $color-gray-2;
      }
    }

    .img {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .client-img {
        background-size: cover;
        background-position: center;
        border-radius: $radius-2;

        &:nth-child(1) {
          width: 300px;
          height: 300px;
          background-image: url("../img/person3.png");
          margin-top: 70px;
        }
        &:nth-child(2) {
          width: 260px;
          height: 260px;
          background-image: url("../img/person1.png");
        }
        &:nth-child(3) {
          width: 300px;
          height: 300px;
        }
        &:nth-child(4) {
          width: 290px;
          height: 290px;
          background-image: url("../img/person2.png");
        }
      }
    }
  }

  .testimonial {
    width: 937px;
    font-size: 36px;
    color: $color-gray-1;
    margin-bottom: 36px;
  }

  .client-card {
    display: flex;

    .img {
      width: 80px;
      height: 80px;
      border-radius: $radius-2;
      background-image: url("../img/person4.png");
      background-size: cover;
      background-position: center;
      margin-right: 30px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h2 {
        color: $color-gray-1;
      }
    }
  }
}

// Footer
footer {
  background-color: $color-dark-blue;
  padding: 0 10%;

  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;

    .links {
      li {
        margin-bottom: 20px;

        a {
          color: $color-gray-6;
          font-size: 18px;
        }
      }
    }

    .sm {
      h1 {
        font-size: 36px;
        color: $color-gray-6;
        margin-bottom: 12px;
      }

      div {
        display: flex;

        a {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }

        a:nth-child(1) {
          background-image: url("../img/instagram.svg");
        }
        a:nth-child(2) {
          background-image: url("../img/linkedin.svg");
        }
        a:nth-child(3) {
          background-image: url("../img/twitter.svg");
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 20px 0;
    color: $color-gray-4;
    font-size: 14px;

    a {
      font-size: 14px;
      text-decoration: none;
      color: $color-gray-4;
    }
  }
}

// Animations
@keyframes hmbTopRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(405deg);
  }
}

@keyframes hmbBottomRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-225deg);
  }
}

// Media Queries
@media (max-width: 768px) {
  // Components
  .input-group {
    label {
      font-size: 10px;
    }

    div {
      width: 100%;
      height: 47px;

      input {
        font-size: 14px;
      }

      button {
        width: 71px;
        font-size: 14px;
      }
    }
  }

  // Navbar
  .navbar {
    height: 60px;
    padding: 0 $px-sm-mb;

    .site-title {
      font-size: 24px;
    }

    nav {
      display: block;
      position: absolute;
      top: -100vh;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      transition: top 0.4s ease-in-out;

      ul {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;

        li:not(:last-child) {
          margin-right: 0px;
        }
      }
    }

    nav.toggled {
      top: 60px;
    }

    .menu-btn {
      display: block;
    }
  }

  // SECTION - HOME
  .section-home {
    margin-bottom: 60px;

    .box-1 {
      padding: 20px $px-lg-mb;

      p {
        font-size: 12px;
        margin-bottom: 0;
      }

      h1 {
        width: 272px;
        font-size: 24px;
      }
    }

    .box-2 {
      height: 145px;
      margin: 0 $px-sm-mb;
    }

    .box-3 {
      padding: 20px $px-lg-mb;

      h1 {
        width: 227px;
        font-size: 24px;
        margin-bottom: 30px;
      }

      p {
        width: 275px;
        font-size: 12px;
        margin-bottom: 30px;
      }
    }
  }

  // SECTION - SERVICES
  .section-services {
    margin-bottom: 0px;
    padding: 20px 0;

    h1 {
      padding: 0 10%;
      width: 100%;
      font-size: 24px;
      margin-bottom: 80px;
    }

    .card-container {
      flex-direction: column;
      padding: 0 5%;

      .card {
        width: 100%;
        padding: 20px 5%;
      }
    }
  }

  // SECTION - WORKS
  .section-works {
    margin-bottom: 80px;
    padding: 20px $px-sm-mb;

    h1 {
      width: 100%;
      font-size: 24px;
      margin-bottom: 48px;
      padding: 0 calc(10% - 10px);
    }

    .grid {
      grid-template-columns: 1fr;
      gap: 10px;

      .card {
        width: 100%;
        margin-bottom: 25px;

        .img {
          width: 100%;
          height: 360px;
          margin-bottom: 10px;
        }

        &:nth-child(odd) {
          margin-top: 0px;
        }

        p {
          font-size: 12px;
        }

        h3 {
          font-size: 18px;
        }
      }
    }

    a {
      justify-content: flex-start;
      margin-left: 0px;
    }
  }

  // SECTION - CLIENTS
  .section-clients {
    margin-bottom: 80px;
    padding: 20px $px-sm-mb;

    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 100px;

      .info {
        margin-bottom: 20px;
      }

      .img {
        .client-img {
          &:nth-child(1) {
            width: 150px;
            height: 150px;
          }
          &:nth-child(2) {
            width: 140px;
            height: 140px;
          }
          &:nth-child(3) {
            width: 150px;
            height: 150px;
          }
          &:nth-child(4) {
            width: 155px;
            height: 155px;
          }
        }
      }
    }

    .testimonial {
      width: 100%;
      font-size: 24px;
      margin-bottom: 18px;
    }
  }

  // Footer
  footer {
    .footer-top {
      grid-template-columns: 1fr;
      padding-top: 36px;

      .links,
      .sm {
        margin-bottom: 50px;
      }
    }

    .footer-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 0 20px 0;
      color: $color-gray-4;
      font-size: 14px;

      a {
        font-size: 14px;
        text-decoration: none;
        color: $color-gray-4;
      }
    }
  }
}
